<?xml version="1.0" encoding="utf-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets/"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="br.com.rafaeldyszy.bootstrap" >
    <name>App Bootstrap</name>

    <description>
        meu app bootstrap auxilia o dev na contrução de paginas
    </description>

    <author href="http://rafaeldyszy.com.br" email="rafael@dyszy.com">
        Rafael Dyszy
    </author>

    <!--<icon src="icon.png" />
    <gap:splash src="splash.png" />-->

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <platform name="android" />
    <plugin name="cordova-plugin-camera" spec="~4.1.0" />

</widget>